:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
}

* {
    /* tất cả element con kế thừa "box-sizing: border-box" từ element html */
    box-sizing: inherit;
    
}

html {
    /* fontsize: 100% = 16px => 10px = 62.5% */
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6rem;
    box-sizing: border-box;
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-witdth {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
}


